/* Couleurs principales */
:root {
    --primary-color: #FF8C00; /* Orange vif */
    --secondary-color: #FF4500; /* Orange rougeâtre */
    --accent-color: #FFA500; /* Orange clair */
    --background-color: #FFF7E5; /* Beige clair pour arrière-plan */
    --text-color: #333333; /* Couleur principale du texte */
    --light-text-color: #FFFFFF; /* Texte clair (boutons, sur fond orange) */
}

/* Styles généraux */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* En-tête */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: var(--light-text-color);
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    color: var(--light-text-color);
    font-weight: 500;
    font-size: 16px;
}

header nav ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

/* Section Héro */
#hero {
    background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
    color: var(--light-text-color);
    text-align: center;
    padding: 50px 20px;
}

#hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

#hero p {
    font-size: 1.2rem;
}

/* Section Produits */
#products {
    padding: 40px 20px;
    background-color: var(--background-color);
    text-align: center;
}

#products h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: var(--primary-color);
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.product {
    text-align: center;
    background: var(--light-text-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}

.product img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.product p {
    font-size: 1rem;
    color: var(--text-color);
}

.product:hover {
    transform: translateY(-10px);
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 10px;
}

/* Pied de page */
footer {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
}
